/* ======================= */
/* SELETOR UNIVERSAL */
/* ======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

/* ======================= */
/* BODY */
/* ======================= */
body {
  background-color: #040404;
  color: #066c4c;
  font-size: 16px;
  overflow-x: hidden; /* impede scroll lateral */
  overflow-y: auto;   /* permite scroll vertical */
}

/* ======================= */
/* HEADER */
/* ======================= */
header {
  position: fixed;
  width: 100vw;
  top: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}


.logo .logos img {
  max-height: 80px;
  height: auto;
  width: auto;
  top: 100px;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar-links li {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-left: 15px;
  cursor: pointer;
}

.navbar-links li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #038159;
  transition: width 0.3s ease;
}

.navbar-links li:hover::after {
  width: 100%;
}

.navbar-links li:hover::before {
  color: #1ecaae;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
}

.close-menu {
  display: none;
}

/* Botão hamburguer */
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: #066c4c;
  cursor: pointer;
  z-index: 100;
}

/* ======================= */
/* MOBILE MENU */
/* ======================= */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
  }

  .navbar-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
  }

  .navbar-links.active {
    transform: translateX(0);
  }

  .navbar-links li {
    margin-bottom: 20px;
    text-align: center;
  }

  .close-menu {
    display: block;
  }
}

/* ======================= */
/* CONTAINER PRINCIPAL */
/* ======================= */
.container {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.979)), url('images/teste-background.png'); /* sua imagem */
  min-height: 100vh;
  background-color: #111;
  background-position: top right;
  background-size: cover;
  background-position: 40% 0%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.container::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(4, 100, 84, 0.2) 0%, rgba(4, 4, 4, 0) 70%);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(50px);
  z-index: 1;
  animation: pulse-glow 4s infinite;
}

/* ======================= */
/* ANIMAÇÕES */
/* ======================= */
@keyframes pulse-glow {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
  }
}

@keyframes pulse-circle {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

/* ======================= */
/* CARROSSEL DE ITENS */
/* ======================= */
.list {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
  justify-content: center;
  
}

.item {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(100vw);
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.item.active {
  opacity: 1;
  transform: translateX(0);
}

.product-img {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  z-index: 2;
}

.product-img img {
  max-width: 60%;
  max-height: 80%;
  filter: drop-shadow(0 0 30px rgba(0, 247, 255, 0.3));
  transform: translateX(200px);
  opacity: 0;
  transition: transform 0.1s ease-in-out, opacity 0.7s ease-in-out;
  transition-delay: 0.5s;
}

.item.active .product-img img {
  opacity: 1;
  transform: translateX(0);
}

.content {
  width: 60%;
  padding-right: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
  flex-direction: column;
}

.product-tag {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  opacity: 0;
  transform: translateX(300px);
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
  transition-delay: 0.5s;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.item.active .product-tag {
    opacity: 1;
    transform: translateX(0);
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  color: #f8f8f8c5;
  margin-bottom: 30px;
  max-width: 600px;
  transform: translateX(200px);
  opacity: 0;
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
  transition-delay: 0.5s;
}

.item.active .description {
  opacity: 1;
  transform: translateX(0);
}

.btn {
  padding: 12px 10px;
  background: linear-gradient(90deg, #1ecaae, #15a087b4);
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.btn:hover {
  background: linear-gradient(90deg, #054a3d, #046454);
  box-shadow: 0 0 10px #0464546b;
  cursor: pointer;
}

/* ======================= */
/* ARROWS E INDICATORS */
/* ======================= */
.arrows {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(4, 100, 84, 0.1);
  border: 1px solid #046454;
}

.arrow-btn:hover {
  background-color: rgba(4, 100, 84, 0.2);
}

.indicators {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 5;
}

.numbers {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.349);
}

.dots {
  display: flex;
  gap: 10px;
}

.dot {
  width: 30px;
  height: 4px;
  background-color: rgba(4, 100, 84, 0.2);
  border-radius: 2px;
}

.dot.active {
  background-color: #046454;
  box-shadow: 0 0 10px rgba(4, 100, 84, 0.5);
}

/* ======================= */
/* CÍRCULOS DE FUNDO */
/* ======================= */
.tech-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(4, 100, 84, 0.2);
}

.circle:nth-child(1) {
  width: 200px;
  height: 200px;
  top: 10%;
  left: 10%;
  animation: pulse-circle 5s alternate-reverse infinite;
}

.circle:nth-child(2) {
  width: 300px;
  height: 300px;
  top: 60%;
  left: 80%;
  animation: pulse-circle 15s infinite;
}

.circle:nth-child(3) {
  width: 150px;
  height: 150px;
  top: 75%;
  left: 25%;
  animation: pulse-circle 15s ease-in-out infinite;
}

.circle:nth-child(4) {
  width: 100px;
  height: 100px;
  top: 20%;
  left: 70%;
  animation: pulse-circle 10s infinite;
}

/* ======================= */
/* BOTÃO WHATSAPP */
/* ======================= */
.whatsapp-btn {
  position: fixed;
  bottom: 10px;
  right: 65px;
  z-index: 10;
  top: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .whatsapp-btn {
    width: 100px;
    height: 60px;
    right: 20px;
    bottom: 30px;
    top: auto;
  }
}

/* ======================= */
/* RESPONSIVIDADE */
/* ======================= */
@media (max-width: 768px) {

  .list{
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
    justify-content: center;
  }  

  .product-tag {
    font-size: 1.8rem;
    color: #fff;
  }

  .product-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    order: -1;
  }

  .product-img img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .content {
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .description {
    font-size: 1rem;
    line-height: 1.4;
    color: #ffffffc9;
    padding: 0 10px;
    max-width: 90%;
  }

  .btn {
    max-width: 100px;
    padding: 10px 15px;
    font-size: 0.9rem;
    border-radius: 20px;
  }

  .btn:hover {
    background-color: rgba(4, 100, 84, 0.1);
  }

  .item {
    background-color: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.979));
    width: 90%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    margin: 140px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 30px;
    position: absolute;
  }

  .indicators, .arrows {
    display: none;
  }
}
